.autoComplete {
  position: relative;
}

.autoComplete__inputContainer {
  position: relative;
  --svgSize: calc(var(--formInputHeight)/1.5);
}


.autoComplete__input {
  width: 100%;
  height: var(--formInputHeight);
  padding: 0 10px 0 26px;
  border: 1px solid #ccc;
  border-radius: var(--borderRadius);
  font-size: 16px;
  outline: none;
}

.autoComplete__inputIcon {
  display: block;
  position: absolute;
  /* the icon position can be improved as a function of --formInputHeight */
  top: 1px;
  left: 6px;
}

.autoComplete__inputIcon svg {
  width: var(--svgSize);
  height: var(--svgSize);
  color: gray;
}

.autoComplete__input--withHints {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.autoComplete__hints {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  overflow: hidden; /* prevent hints to leak outside border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.autoComplete__hints--visible {
  display: block;
}
